<a href="https://colab.research.google.com/github/frasgado/Analisis_Censo_2020/blob/main/01_PoblacionTotalporSexo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Análisis de Población por Sexo**



---

In [ ]:
import numpy as np
%matplotlib inline
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [ ]:
df_1 = pd.read_csv('/content/drive/MyDrive/CENSO2020/conjunto_de_datos_iter_00_cpv2020.csv', index_col=0)
df_1.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                NOM_ENT  MUN  ... VPH_SINTIC  TAMLOC
ENTIDAD                       ...
0        Total nacional    0  ...     852871       *
0        Total nacional    0  ...       7154       *
0        Total nacional    0  ...       5283       *
1        Aguascalientes    0  ...       1711       *
1        Aguascalientes    0  ...         20       *

[5 rows x 230 columns]

In [ ]:
# Definition onf new function
def clean_column_names(column_name):
    '''
    Function in charge of clean the column names in and standar camel case format
    '''
    return column_name.lower().strip().replace(' ', '_')


df_1 = df_1.rename(columns=clean_column_names)

##Filtración de datos

In [ ]:
df_1_filtrado = df_1[df_1['nom_loc'] == 'Total nacional']
df_1_filtrado

                nom_ent  mun         nom_mun  ...  vph_sincint vph_sintic tamloc
ENTIDAD                                       ...
0        Total nacional    0  Total nacional  ...     15108204     852871      *

[1 rows x 230 columns]

In [ ]:
df_1_filtrado = df_1_filtrado[['nom_ent', 'pobtot', 'pobfem', 'pobmas']]
#df_1_filtrado.drop('ENTIDAD', axis=1, inplace=True)
df_1_filtrado['Año'] = '2020'
df_1_filtrado

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                nom_ent     pobtot    pobfem    pobmas   Año
ENTIDAD
0        Total nacional  126014024  64540634  61473390  2020

In [ ]:
# Identificando tipos de datos
df_1_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nom_ent  1 non-null      object
 1   pobtot   1 non-null      int64
 2   pobfem   1 non-null      object
 3   pobmas   1 non-null      object
 4   Año      1 non-null      object
dtypes: int64(1), object(4)
memory usage: 48.0+ bytes

## Transformación de datos

In [ ]:

df_1_filtrado['Mujeres'] = round(( df_1_filtrado.pobfem.astype(float) / df_1_filtrado.pobtot ) * 100, 2)
df_1_filtrado['Hombres'] = round(( df_1_filtrado.pobmas.astype(float) / df_1_filtrado.pobtot ) * 100, 2)
df_1_filtrado
#result.cod_postal = result.cod_postal.astype(int)

# round((g.pobfem.astype(float )/g.pobtot) * 100,2)
#df_1_filtrado.groupby(['pobfem','pobtot'], group_keys=False).apply(lambda g: )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                nom_ent     pobtot    pobfem    pobmas   Año  Mujeres  Hombres
ENTIDAD
0        Total nacional  126014024  64540634  61473390  2020    51.22    48.78

In [ ]:
df_1_filtrado

                nom_ent     pobtot    pobfem    pobmas   Año  Mujeres  Hombres
ENTIDAD
0        Total nacional  126014024  64540634  61473390  2020    51.22    48.78

In [ ]:
#df_mapping = df_1_filtrado[['Año','Mujeres','Hombres']]
df_mapping = df_1_filtrado
df_mapping

                nom_ent     pobtot    pobfem    pobmas   Año  Mujeres  Hombres
ENTIDAD
0        Total nacional  126014024  64540634  61473390  2020    51.22    48.78

In [ ]:
#Desglosar por estado, sexo y %
df_1_filtrado_3 = df_mapping.melt(id_vars=['Año'],
                                       value_vars=['Mujeres', 'Hombres'], 
                                       var_name='sexo', 
                                       value_name='value')
df_1_filtrado_4 = df_mapping.melt(id_vars=['Año'],
                                       value_vars=['pobfem', 'pobmas'],
                                       var_name='cantidad', 
                                       value_name='valor')


df1 = df_1_filtrado_3.set_index(['Año',  df_1_filtrado_3.groupby(['Año']).cumcount()])
df2 = df_1_filtrado_4.set_index(['Año', df_1_filtrado_4.groupby(['Año']).cumcount()])


df3 = (pd.concat([df1, df2],axis=1)
         .sort_index(level=1)
         .reset_index(level=1, drop=True)
         .reset_index())
df3

    Año     sexo  value cantidad     valor
0  2020  Mujeres  51.22   pobfem  64540634
1  2020  Hombres  48.78   pobmas  61473390

In [ ]:
# Ordenación por columnas sexo y value(%)
tab_df = df_1_filtrado_3.sort_values(by=['sexo','value'], ascending=False)
tab_df = tab_df.reset_index()
tab_df.drop('index', axis=1, inplace=True)
tab_df

    Año     sexo  value
0  2020  Mujeres  51.22
1  2020  Hombres  48.78

In [ ]:
df_1_filtrado

                nom_ent     pobtot    pobfem    pobmas   Año  Mujeres  Hombres
ENTIDAD
0        Total nacional  126014024  64540634  61473390  2020    51.22    48.78

In [ ]:
df3

    Año     sexo  value cantidad     valor
0  2020  Mujeres  51.22   pobfem  64540634
1  2020  Hombres  48.78   pobmas  61473390

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       2 non-null      object
 1   sexo      2 non-null      object
 2   value     2 non-null      float64
 3   cantidad  2 non-null      object
 4   valor     2 non-null      object
dtypes: float64(1), object(4)
memory usage: 208.0+ bytes

In [ ]:
# Convertir el tipo de datos de 'cod_postal' float64 a int
print('*** Cambiar tipo de datos a la columna <<cod_postal>>')
df3.valor = df3.valor.astype(int)
df3.info()

*** Cambiar tipo de datos a la columna <<cod_postal>>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Año       2 non-null      object
 1   sexo      2 non-null      object
 2   value     2 non-null      float64
 3   cantidad  2 non-null      object
 4   valor     2 non-null      int64
dtypes: float64(1), int64(1), object(3)
memory usage: 208.0+ bytes

##**Instalación de PLOTNINE**

In [ ]:
pip install 'plotnine[all]'  # 2. includes extra/optional packages

Requirement already satisfied: plotnine[all] in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: descartes>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (1.1.0)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (1.19.5)
Requirement already satisfied: mizani>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (0.6.0)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (1.1.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (0.10.2)
Requirement already satisfied: matplotlib>=3.1.1 in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (3.2.2)
Collecting scikit-misc; extra == "all"
  Downloading https://files.pythonhosted.org/packages/0f/82/166e78716e3ffdd58539449caeb78a9f6db511480ae416bcc87ae59451b8/scikit_misc-0.1.4-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (8.8MB)
     |████████████████████████████████| 8.8MB 2.8MB/s
Requirement already satisfied: scikit-learn; extra == "all" in /usr/local/lib/python3.7/dist-packages (from plotnine[all]) (0.22.2.post1)
Requirement already satisfied: palettable in /usr/local/lib/python3.7/dist-packages (from mizani>=0.6.0->plotnine[all]) (3.3.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->plotnine[all]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->plotnine[all]) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.1->plotnine[all]) (1.15.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine[all]) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine[all]) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine[all]) (2.4.7)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn; extra == "all"->plotnine[all]) (1.0.1)
Installing collected packages: scikit-misc
Successfully installed scikit-misc-0.1.4

## Visualización de datos
- Usando plotnine

In [ ]:
import pandas as pd
import numpy as np
from plotnine import *

%matplotlib inline

dodge_text = position_dodge(width=0.9)
ccolor = '#555555'

# Gráfica Censo 2020 por porcentaje en tipo de sexo
# Población total por sexo
# Porcentaje de Hombres
# Porcentaje de Mujeres
# 2020

myPlot = (ggplot(df3, aes(x='Año', y='value', fill='sexo'))
 + geom_col(stat = "identity", width = 0.5, position = position_dodge(0.9), show_legend=False)
 #+ geom_col(stat='identity', position='dodge', show_legend=False) # position =  position_dodge(width = 0.8),
 #+ geom_col(position = position_stack(reverse = True), alpha=0.7)
 
 + geom_text(aes(y=-.5, label='sexo'),
             position=dodge_text,
             color='black', size=10, angle=0, va='top')              # modified
+ geom_text(aes(label = "valor"), 
            position=dodge_text,
            size=10,
            color='white',
            va='top',  #'top', 'bottom', 'center', 'baseline', 'center_baseline'
            #show_legend=True,
            format_string="{:,}")
 + geom_text(aes(label='value'),
             position=dodge_text,
             size=12, 
             va='bottom', 
             format_string='{}%')

#+ scale_color_brewer(palette='Pastel2')
#+ scale_fill_manual(values = ["blue", "pink"])
+ scale_fill_manual(values = ["#092f57", "#ed1195"]) #0070c0, #3333FF   [pink]
 + lims(y=(-2, 60))
 + theme(panel_background=element_rect(fill='white'),               # new
         axis_title_x=element_text(size=10),
         axis_title_y=element_blank(),
         axis_line_x=element_line(color='black'),
         axis_line_y=element_blank(),
         axis_text_y=element_blank(),
         axis_text_x=element_text(color='black'),
         axis_ticks_major_y=element_blank(),
         panel_grid=element_blank(),
         panel_border=element_blank())
 
+ labs(title="Población Total por Sexo\n\nActualmente, tenemos una población total de 126,014,024 millones de habitantes.", 
       x='    Año\n\nFuente: INEGI. Censo de Población y Vivienda 2020.\nElaboró: Fabiola Rasgado')

)
myPlot
# Grabar gráfica
myPlot.save("02_composicion_por_sexo.png", dpi=600)

/usr/local/lib/python3.7/dist-packages/plotnine/ggplot.py:729: PlotnineWarning: Saving 6.4 x 4.8 in image.
  from_inches(height, units), units), PlotnineWarning)
/usr/local/lib/python3.7/dist-packages/plotnine/ggplot.py:730: PlotnineWarning: Filename: 02_composicion_por_sexo.png
  warn('Filename: {}'.format(filename), PlotnineWarning)
/usr/local/lib/python3.7/dist-packages/plotnine/utils.py:1246: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if pdtypes.is_categorical(arr):